{{!-- Gear slots --}}
<section class="grid grid-3col">
  {{!-- Ready slots --}}
  <ol class="items-list">
    <li class="item flexrow" data-item-id="{{data.readySlot.slot1._id}}">
        <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{data.readySlot.slot1.img}}')"></div>
            <h4>
                {{data.readySlot.slot1.name}}
            </h4>
        </div>
    </li>
    <li class="item flexrow" data-item-id="{{data.readySlot.slot2._id}}">
        <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{data.readySlot.slot2.img}}')"></div>
            <h4>
                {{data.readySlot.slot2.name}}
            </h4>
        </div>
    </li>
  </ol>

  {{!-- Holster slots --}}
  <ol class="items-list">
    <li class="item flexrow" data-item-id="{{data.holsterSlot.slot1._id}}">
        <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{data.holsterSlot.slot1.img}}')"></div>
            <h4>
                {{data.holsterSlot.slot1.name}}
            </h4>
        </div>
    </li>
    <li class="item flexrow" data-item-id="{{data.holsterSlot.slot2._id}}">
        <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{data.holsterSlot.slot2.img}}')"></div>
            <h4>
                {{data.holsterSlot.slot2.name}}
            </h4>
        </div>
    </li>
  </ol>

  {{!-- Backpack slots --}}
  <ol class="items-list">
    <li class="item flexrow" data-item-id="{{data.backpackSlot.slot1._id}}">
        <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{data.backpackSlot.slot1.img}}')"></div>
            <h4>
                {{data.backpackSlot.slot1.name}}
            </h4>
        </div>
    </li>
    <li class="item flexrow" data-item-id="{{data.backpackSlot.slot2._id}}">
        <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{data.backpackSlot.slot2.img}}')"></div>
            <h4>
                {{data.backpackSlot.slot2.name}}
            </h4>
        </div>
    </li>
  </ol>
</section>
