{{!-- Gear slots --}}
<section class="grid grid-3col">
  {{!-- Ready slots --}}
  <div class="gearslots">
    <label class="resource-label flexlarge align-center">Ready Slot</label>
    <input type="text" name="data.readySlot.slot1" value="{{data.readySlot.slot1.name}}" data-dtype="String"/>
    <input type="text" name="data.readySlot.slot2" value="{{data.readySlot.slot2.name}}" data-dtype="String"/>
  </div>
  {{!-- Holster slots --}}
  <div class="gearslots">
    <label class="resource-label flexlarge align-center">Holster Slot</label>
    <input type="text" name="data.holsterSlot.slot1" value="{{data.holsterSlot.slot1.name}}" data-dtype="String"/>
    <input type="text" name="data.holsterSlot.slot2" value="{{data.holsterSlot.slot2.name}}" data-dtype="String"/>
  </div>
  {{!-- Backpack slots --}}
  <div class="gearslots">
    <label class="resource-label flexlarge align-center">Backpack Slot</label>
    <input type="text" name="data.backpackSlot.slot1" value="{{data.backpackSlot.slot1.name}}" data-dtype="String"/>
    <input type="text" name="data.backpackSlot.slot2" value="{{data.backpackSlot.slot2.name}}" data-dtype="String"/>
  </div>
</section>
