<ol class="items-list inventory-list">
      <li class="items-header flexrow">
          <h3 class="item-name flexrow">Weapons</h3>
          <div class="weapon-type">Type</div>
          <div class="weapon-range">Portée</div>
          <div class="weapon-dice">Dé(s)</div>
          <div class="weapon-accuracy">Précision</div>
          <div class="weapon-damage">Dégâts</div>
          <div class="weapon-dual">Dual</div>
          <div class="weapon-trait">Trait 1</div>
          <div class="weapon-trait">Trait 2</div>
          <div class="weapon-assignedSlot">Assigned Slot</div>
          <div class="item-controls flexrow" style="justify-content: center;">Actions</div>
      </li>

      <ol class="item-list">
        {{#each actor.items as |item key|}}
          {{#if item.data.data.isWeapon}}
            <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name flexrow">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <h4>
                        {{item.name}}
                    </h4>
                </div>
                <div class="weapon-type">
                  {{item.data.data.mode.value}}
                </div>
                <div class="weapon-range">
                  {{item.data.data.range.value}}
                </div>
                <div class="weapon-dice">
                  {{item.data.data.dice.value}}
                </div>
                <div class="weapon-accuracy">
                  {{item.data.data.accuracy.value}}
                </div>
                <div class="weapon-damage">
                  {{item.data.data.damage.value}}
                </div>
                <div class="weapon-dual">
                  {{#if item.data.data.dual.value}}
                    <i class="fas fa-check"></i>
                  {{/if}}
                </div>
                <div class="weapon-trait">
                  {{item.data.data.trait1.value}}
                </div>
                <div class="weapon-trait">
                  {{item.data.data.trait2.value}}
                </div>
                <div class="weapon-assignedSlot">
                  {{item.data.data.assignedSlot}}
                </div>
                <div class="item-controls flexrow">
                  <a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title='Delete'><i class="fas fa-trash"></i></a>
                </div>
            </li>
          {{/if}}
        {{/each}}
      </ol>

      <li class="items-header flexrow">
        <h3 class="item-name flexrow">Items</h3>
        <div class="item-assignedSlot">Assigned Slot</div>
        <div class="item-controls flexrow" style="justify-content: center;">Actions</div>
      </li>
      <ol class="item-list">
        {{#each actor.items as |item key|}}
          {{#if item.data.data.isItem}}
            <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name flexrow">
                  <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <h4>
                        {{item.name}}
                    </h4>
                </div>
                <div class="item-assignedSlot">
                  {{item.data.data.assignedSlot}}
                </div>
                <div class="item-controls flexrow">
                  <a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title='Delete'><i class="fas fa-trash"></i></a>
                </div>
            </li>
          {{/if}}
        {{/each}}
      </ol>

      <li class="items-header flexrow">
        <h3 class="item-name flexrow">Skills</h3>
        <div class="skill-rank">Rank</div>
        <div class="skill-assignedRank">Assigned Rank</div>
        <div class="item-controls flexrow" style="justify-content: center;">Action</div>
      </li>
      <ol class="item-list">
        {{#each actor.items as |item key|}}
          {{#if item.data.data.isSkill}}
            <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name flexrow">
                  <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                  <h4>
                      {{item.name}}
                  </h4>
                </div>
                <div class="skill-rank">
                  {{item.data.data.rank}}
                </div>
                <div class="skill-assignedRank">
                  {{item.data.data.assignedRank}}
                </div>
                <div class="item-controls flexrow">
                  <a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title='Delete'><i class="fas fa-trash"></i></a>
                </div>
            </li>
          {{/if}}
        {{/each}}
      </ol>
</ol>
