<section class="grid grid-4col">
    <div class="skills">
    <input type="text" name="data.skills.basicSkills.slot1" value="{{data.skills.basicSkills.slot1.name}}" data-dtype="String"/>
    </div>
    <div class="skills">
    <input type="text" name="data.skills.advancedSkills.slot1" value="{{data.skills.advancedSkills.slot1.name}}" data-dtype="String"/>
    <input type="text" name="data.skills.advancedSkills.slot2" value="{{data.skills.advancedSkills.slot2.name}}" data-dtype="String"/>
    </div>
    <div class="skills">
    <input type="text" name="data.skills.masterSkills.slot1" value="{{data.skills.masterSkills.slot1.name}}" data-dtype="String"/>
    <input type="text" name="data.skills.masterSkills.slot2" value="{{data.skills.masterSkills.slot2.name}}" data-dtype="String"/>
    </div>
    <div class="skills">
    <input type="text" name="data.skills.ultimateSkills.slot1" value="{{data.skills.ultimateSkills.slot1.name}}" data-dtype="String"/>
    <input type="text" name="data.skills.ultimateSkills.slot2" value="{{data.skills.ultimateSkills.slot2.name}}" data-dtype="String"/>
    <input type="text" name="data.skills.ultimateSkills.slot3" value="{{data.skills.ultimateSkills.slot3.name}}" data-dtype="String"/>
    </div>
</section>

