<section class="grid grid-4col">
    <ol class="items-list">
        <li class="item flexrow" data-item-id="{{data.skills.basicSkills.slot1._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{data.skills.basicSkills.slot1.img}}')"></div>
                <h4>
                    {{data.skills.basicSkills.slot1.name}}
                </h4>
            </div>
        </li>
    </ol>

    <ol class="items-list">
        <li class="item flexrow" data-item-id="{{data.skills.advancedSkills.slot1._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{data.skills.advancedSkills.slot1.img}}')"></div>
                <h4>
                    {{data.skills.advancedSkills.slot1.name}}
                </h4>
            </div>
        </li>
        <li class="item flexrow" data-item-id="{{data.skills.advancedSkills.slot2._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{data.skills.advancedSkills.slot2.img}}')"></div>
                <h4>
                    {{data.skills.advancedSkills.slot2.name}}
                </h4>
            </div>
        </li>
    </ol>

    <ol class="items-list">
        <li class="item flexrow" data-item-id="{{data.skills.masterSkills.slot1._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{data.skills.masterSkills.slot1.img}}')"></div>
                <h4>
                    {{data.skills.masterSkills.slot1.name}}
                </h4>
            </div>
        </li>
        <li class="item flexrow" data-item-id="{{data.skills.masterSkills.slot2._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{data.skills.masterSkills.slot2.img}}')"></div>
                <h4>
                    {{data.skills.masterSkills.slot2.name}}
                </h4>
            </div>
        </li>
    </ol>

    <ol class="items-list">
        <li class="item flexrow" data-item-id="{{data.skills.ultimateSkills.slot1._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{data.skills.ultimateSkills.slot1.img}}')"></div>
                <h4>
                    {{data.skills.ultimateSkills.slot1.name}}
                </h4>
            </div>
        </li>
        <li class="item flexrow" data-item-id="{{data.skills.ultimateSkills.slot2._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{data.skills.ultimateSkills.slot2.img}}')"></div>
                <h4>
                    {{data.skills.ultimateSkills.slot2.name}}
                </h4>
            </div>
        </li>
        <li class="item flexrow" data-item-id="{{data.skills.ultimateSkills.slot3._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url('{{data.skills.ultimateSkills.slot3.img}}')"></div>
                <h4>
                    {{data.skills.ultimateSkills.slot3.name}}
                </h4>
            </div>
        </li>
    </ol>
</section>

