<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="attributes grid grid-3col">
        <label for="data.xp" class="">XP</label>
	<input type="text" name="data.xp" value="{{data.xp}}" data-dtype="Number"/>
      </div>
      <div class="attributes grid grid-3col">
        <label for="data.adrenaline" class="">Adrenaline</label>
	<input type="text" name="data.adrenaline" value="{{data.adrenaline}}" data-dtype="Number"/>
      </div>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="data.stress.value" class="resource-label">Stress</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.stress.value" value="{{data.stress.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.stress.max" value="{{data.stress.max}}" data-dtype="Number" enabled="false"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.hitPoints.value" class="resource-label">Hit Points</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.hitPoints.max" value="{{data.hitPoints.max}}" data-dtype="Number" enabled="false"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
      <div class="attributes grid grid-3col">
        <div class="attribute flex-group-center">
          <label for="data.attributes.muscle.value" class="attribute-label">MUSCLE</label>
          <div class="attribute-content flexrow flex-center flex-between">
          <input type="text" name="data.attributes.muscle.value" value="{{data.attributes.muscle.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="attribute flex-group-center">
          <label for="data.attributes.brains.value" class="attribute-label">BRAINS</label>
          <div class="attribute-content flexrow flex-center flex-between">
          <input type="text" name="data.attributes.brains.value" value="{{data.attributes.brains.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="attribute flex-group-center">
          <label for="data.attributes.grit.value" class="attribute-label">GRIT</label>
          <div class="attribute-content flexrow flex-center flex-between">
          <input type="text" name="data.attributes.grit.value" value="{{data.attributes.grit.value}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="bio">Biography</a>
    <a class="item" data-tab="actions">Actions</a>
    <a class="item" data-tab="proficiencies">Proficiencies</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="bio">
      <div class="">
        <label for="data.bio.looks" class="">Looks :</label>
	<input type="text" name="data.bio.looks" value="{{data.bio.looks}}"/>
      </div>
      <div class="">
        <label for="data.bio.habit" class="">Habit :</label>
	<input type="text" name="data.bio.habit" value="{{data.bio.habit}}"/>
      </div>
      <div class="">
        <label for="data.bio.occupation" class="">Occupation :</label>
	<input type="text" name="data.bio.occupation" value="{{data.bio.occupation}}"/>
      </div>
    </div>

    {{!-- Actions Tab --}}
    <div class="tab actions" data-group="primary" data-tab="actions">
      <section class="grid grid-2col">
        <aside class="sidebar">
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" clas11s where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="actions grid grid-3col" style="flex-wrap: nowrap">
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="stunt">Stunt</label>
              <input type="checkbox" name="data.actions.stunt.preferred" {{checked data.actions.stunt.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="sneak">Sneak</label>
              <input type="checkbox" name="data.actions.sneak.preferred" {{checked data.actions.sneak.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="endure">Endure</label>
              <input type="checkbox" name="data.actions.endure.preferred" {{checked data.actions.endure.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="Appeal">Appeal</label>
              <input type="checkbox" name="data.actions.appeal.preferred" {{checked data.actions.appeal.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="convince">Convince</label>
              <input type="checkbox" name="data.actions.convince.preferred" {{checked data.actions.convince.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="hearten">Hearten</label>
              <input type="checkbox" name="data.actions.hearten.preferred" {{checked data.actions.hearten.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="security">Security</label>
              <input type="checkbox" name="data.actions.security.preferred" {{checked data.actions.security.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="education">Education</label>
              <input type="checkbox" name="data.actions.education.preferred" {{checked data.actions.education.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="contacts">Contacts</label>
              <input type="checkbox" name="data.actions.contacts.preferred" {{checked data.actions.contacts.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="fight">Fight</label>
              <input type="checkbox" name="data.actions.fight.preferred" {{checked data.actions.fight.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="shoot">Shoot</label>
              <input type="checkbox" name="data.actions.shoot.preferred" {{checked data.actions.shoot.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="cool">Cool</label>
              <input type="checkbox" name="data.actions.cool.preferred" {{checked data.actions.cool.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="spot">Spot</label>
              <input type="checkbox" name="data.actions.spot.preferred" {{checked data.actions.spot.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="evaluate">Evaluate</label>
              <input type="checkbox" name="data.actions.evaluate.preferred" {{checked data.actions.evaluate.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="scout">Scout</label>
              <input type="checkbox" name="data.actions.scout.preferred" {{checked data.actions.scout.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="scavenge">Scavenge</label>
              <input type="checkbox" name="data.actions.scavenge.preferred" {{checked data.actions.scavenge.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="tinker">Tinker</label>
              <input type="checkbox" name="data.actions.tinker.preferred" {{checked data.actions.tinker.preferred}} >
	    </div>
            <div class="action flexrow flex-group-center" style="flex-wrap: nowrap">
	      <label class="resource-label flexlarge align-left" data-label="heal">Heal</label>
              <input type="checkbox" name="data.actions.heal.preferred" {{checked data.actions.heal.preferred}} >
	    </div>
          </div>
        </aside>
      </section>
    </div>

    {{!-- Proficiencies Tab --}}
    <div class="tab proficiencies" data-group="primary" data-tab="proficiencies">
      <section class="grid grid-2col">
        <aside class="sidebar">
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="proficiencies flexcol">
            {{#each data.proficiencies as |proficiency key|}}
            <div class="proficiency flexrow flex-group-center">
              <label for="data.proficiencies.{{key}}.value" class="resource-label flexlarge align-left" data-label="{{proficiency.label}}">{{proficiency.label}}</label>
              <input type="text" name="data.proficiencies.{{key}}.value" value="{{proficiency.value}}" data-dtype="Number"/>
            </div>
            {{/each}}
          </div>
        </aside>
      </section>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
    </div>

    {{!-- Owned Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
    </div>

    {{!-- Description Tab --}}
    <div class="tab desription flexcol" data-group="primary" data-tab="description">
      {{editor content=data.bio.description target="data.bio.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
