<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <div class="grid grid-2col">
          <div class="resource">
            <label class="resource-label">Type</label>
            <select class="selectvalue" name="data.mode.value" data-type="String">
              {{#select data.mode.value}}
              <option value="melee">Melee</option>
              <option value="ranged">Ranged</option>
              {{/select}}
            </select>
          </div>
          <div class="resource">
            <label class="resource-label">Portée</label>
            <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="String"/>
          </div>
          <div class="resource">
            <label class="resource-label">Dé(s)</label>
            <input type="text" name="data.dice.value" value="{{data.dice.value}}" data-dtype="String"/>
          </div>
          <div class="resource">
            <label class="resource-label">Précision</label>
            <select class="selectvalue" name="data.accuracy.value" data-type="String">
              {{#select data.accuracy.value}}
              <option value="1+">1+</option>
              <option value="2+">2+</option>
              <option value="3+">3+</option>
              <option value="4+">4+</option>
              <option value="5+">5+</option>
              <option value="6+">6+</option>
              {{/select}}
            </select>
          </div>
          <div class="resource">
            <label class="resource-label">Dégâts</label>
            <input type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label class="resource-label">Dual</label>
            <input type="checkbox" name="data.dual.value" {{checked data.dual.value}}/>
          </div>
          <div class="resource">
            <label class="resource-label">Trait 1</label>
            <select class="selectvalue" name="data.trait1.value" data-type="String">
              {{#select data.trait1.value}}
              <option value="none">-</option>
              <option value="door-opening-silent">Door-opening Silent</option>
              <option value="door-opening-noisy">Door-opening Noisy</option>
              <option value="silent">Silent</option>
              <option value="noisy">Noisy</option>
              <option value="reload">Reload</option>
              <option value="sniper">Sniper</option>
              {{/select}}
            </select>
          </div>
          <div class="resource">
            <label class="resource-label">Trait 2</label>
            <select class="selectvalue" name="data.trait2.value" data-type="String">
              {{#select data.trait2.value}}
              <option value="none">-</option>
              <option value="door-opening-silent">Door-opening Silent</option>
              <option value="door-opening-noisy">Door-opening Noisy</option>
              <option value="silent">Silent</option>
              <option value="noisy">Noisy</option>
              <option value="reload">Reload</option>
              <option value="sniper">Sniper</option>
              {{/select}}
            </select>
          </div>
          {{#if data.isOwned}}
            <div class="resource">
              <label class="resource-label">Assigned Slot</label>
              <select class="selectvalue" name="data.assignedSlot" data-type="String">
                {{#select data.assignedSlot}}
                <option value="none">-</option>
                <option value="ready-slot">Ready</option>
                <option value="holster-slot">Holster</option>
                <option value="backpack-slot">Backpack</option>
                {{/select}}
              </select>
            </div>
          {{/if}}
        </div>
      </div>
    </header>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
    </nav>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
  
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
  
    </section>
  </form>
  