@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-1col {
  display: grid;
  grid-column: span 1 / span 1;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to zombiciderpg sheets */
.zombiciderpg {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for Boilerplate (can be removed if not needed) */
}

.zombiciderpg .window-content {
  background: transparent url("../resources/template/background-zc.jpeg") repeat center center;
}

.zombiciderpg .item-form {
  font-family: "Roboto", sans-serif;
}

.zombiciderpg .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.zombiciderpg .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.zombiciderpg .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.zombiciderpg .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.zombiciderpg .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.zombiciderpg .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.zombiciderpg .sheet-body,
.zombiciderpg .sheet-body .tab,
.zombiciderpg .sheet-body .tab .editor {
  height: 100%;
}

.zombiciderpg .tox .tox-editor-container {
  background: #fff;
}

.zombiciderpg .tox .tox-edit-area {
  padding: 0 8px;
}

.zombiciderpg .resource-label {
  font-weight: bold;
}

.zombiciderpg .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.zombiciderpg .items-header > * {
  font-size: 14px;
  text-align: center;
}

.zombiciderpg .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zombiciderpg .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.zombiciderpg .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.zombiciderpg .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zombiciderpg .items-list .item-name h3, .zombiciderpg .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.zombiciderpg .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.zombiciderpg .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.zombiciderpg .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.zombiciderpg .items-list .item:last-child {
  border-bottom: none;
}

.zombiciderpg .items-list .item .item-name {
  color: #191813;
}

.zombiciderpg .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.zombiciderpg .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.zombiciderpg .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.zombiciderpg .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.zombiciderpg .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.zombiciderpg .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.zombiciderpg .effects .item .effect-source,
.zombiciderpg .effects .item .effect-duration,
.zombiciderpg .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.zombiciderpg .effects .item .effect-controls {
  border: none;
}

.zombiciderpg .sheet-header .xpbar {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}
.zombiciderpg .sheet-header .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}

.zombiciderpg .weapon-type,
.zombiciderpg .weapon-range,
.zombiciderpg .weapon-dice,
.zombiciderpg .weapon-accuracy,
.zombiciderpg .weapon-damage,
.zombiciderpg .weapon-dual,
.zombiciderpg .weapon-trait,
.zombiciderpg .skill-rank,
.zombiciderpg .skill-assignedRank{
  flex: 0 0 50px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}

.zombiciderpg .weapon-assignedSlot,
.zombiciderpg .item-assignedSlot{
  flex: 0 0 70px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}

.zombiciderpg .item-action {
  flex: 0 0 50px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}

.zombiciderpg .items-list .items-header .basic {
  background: #b5b9e4;
}

/* Adrenaline Bar */
.zc-adrenaline {
  display: grid;
  justify-content: center;
  background: transparent url('../resources/template/background-adrenaline.jpg') no-repeat top center;
  background-size: contain;
  flex: 0 0 12px;
  margin: 1px 15px 0 1px;
  border: 1px solid #191813;
  border-radius: 3px;
  position: relative;
}

.zc-adrenaline .zc-adrenaline-bar-black {
  position: absolute;
  top: 5px;
  left: 3px;
  background: black;
  height: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

.zc-header {
  display: grid;
  justify-content: center;
  background: transparent url('../resources/template/bg-header.png') no-repeat top center;
  background-size: contain;
}

.zc-button, .zc-button-sm {
  appearance: none;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: -0.03em;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: background-size 30ms ease-out, transform 200ms ease-out;
  background: #eebe4b url('../resources/template/bg-blood.png') no-repeat 97% 50%;
  background-size: 0 auto;
  transform: rotate(0deg);
}
.zc-button:hover, .zc-button-sm:hover {
  background-size: 70px auto;
  text-decoration: none;
  transform: rotate(-7deg);
}
.zc-button-sm {
  font-size: 0.8em;
  letter-spacing: -0.01em;
  padding: 1px 10px;
}

.zc-skill-basic {
  background: url('../resources/template/skill-basic.png') no-repeat;
  background-size: contain;
}

.zc-skill-advanced {
  background: url('../resources/template/skill-advanced.png') no-repeat;
  background-size: contain;
}

.zc-skill-master {
  background: url('../resources/template/skill-master.png') no-repeat;
  background-size: contain;
}

.zc-skill-ultimate {
  background: url('../resources/template/skill-ultimate.png') no-repeat;
  background-size: contain;
}